{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="timer-box">
        <button id="btn-timer" class="btn btn-default btn-pause-timer">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
        <span id="timer">0</span>
    </div>

    <div id="info">
        <h1 id="entity"></h1>
    </div>
    <div id="annotation-box">
        <div id="sentence-box">
            <div id="sentence">Loading...</div>
        </div>
        <div id="buttons">
            <button id="variant-btn-1" class="btn btn-default btn-variant">
                <span class="lbl"></span><span class="key">A</span>
            </button>
            <div class="btn-group" data-toggle="buttons">
                <label id="variant-btn-both" class="btn btn-default">
                    <input type="checkbox" name="123" data-toggle="button" checked>
                    <span class="lbl">Mõlemad sobivad</span> <span class="key">S</span>
                </label>
            </div>
            <button id="variant-btn-2" class="btn btn-default btn-variant">
                <span class="lbl"></span><span class="key">D</span>
            </button>
        </div>
    </div>
{% endblock %}
{% block scripts_bottom %}

    <script src="{% static 'ui/js/annotation.js' %}"></script>
{% endblock %}
